name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Test
        run: go test -race -v -coverprofile=coverage.out

      - name: Report coverage
        run: go tool cover -func=coverage.out
